<div class="battle" ui-view>
  <div class="battleTitle">
    <h3>Choose Your</h3>
    <h2>FAVORITE WEAVE</h2>
  </div>
<div class="rotate">
  <div>
    <a class="weavePhoto"  ui-sref="votes" ng-click="battle.weaves.vote($event)"><img src="{{battle.weaves.contestant.source}}" width="400px" height="400px"></a>
  </div>
  <div>
    <a class="weavePhoto"  ui-sref="votes" ng-click="battle.weaves.vote($event)"><img src="{{battle.weaves.challenger.source}}" width="400px" height="400px"></a>
  </div>
</div>
</div>
