<a ><img class="photoWinner" src="{{battle.winner.source}}" alt="{{battle.winner.source}}"/></a>
<div class="row">
  <!--<i> src=""></i>-->
  <div class="choice">
    <h6>YOU CHOSE</h6>
    <h5>{{battle.winner.nickname}}</h5>
  </div>
</div>
<div>
  <h1 class="votesTotal">{{battle.winner.votes}}</h1>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-success"  style="width: {{battle.winningPercent}}%">
    <span class="sr-only">{{battle.winningPercent}}% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-danger"  style="width: {{battle.losingPercent}}%">
    <span class="sr-only">(1 - {{battle.winningPercent}}) Complete (danger)</span>
  </div>
</div>
<div>
  <h1 class="votesTotal">{{battle.loser.votes}}</h1>
</div>

<button type="button" ui-sref="battles" class="btn btn-success btn-block btn-nextBattle">NEXT BATTLE</button>
