<a class="photoWinner"><img class="photoWinner" src="images/Kim.jpg" alt=""/></a>
<div class="row">
  <!--<i> src=""></i>-->
  <div class="choice">
    <h6>YOU CHOSE</h6>
    <h5>Kim</h5>
  </div>
</div>
<div>
  <h1 class="votesTotal">224</h1>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 45%">
    <span class="sr-only">35% Complete (success)</span>
  </div>
  <div class="progress-bar progress-bar-danger" style="width: 55%">
    <span class="sr-only">10% Complete (danger)</span>
  </div>
</div>
<div>
  <h1 class="votesTotal">246</h1>
</div>

<button type="button" class="btn btn-success btn-block btn-nextBattle">NEXT BATTLE</button>
